/* CSS  Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
} 

/* Style rules for body and  images */
body {
	 background-color: #000;
}

img  {
	max-width: 100%;
	display: block;
}

header {
	background-color: #000;
	height: 100px;
	color: #fff;
}

header img {
	margin: 0 auto;
}

main {
    background-color: #fff;
    text-align: center;
	margin: 0 auto;
    
}
